@font-face {
    font-family: 'Almarai ExtraBold';
    src: url(../fonts/Almarai-ExtraBold.ttf);
}
@font-face {
    font-family: 'Almarai Regular';
    src: url(../fonts/Almarai-Regular.ttf);
}
@font-face {
    font-family: 'Almarai Light';
    src: url(../fonts/Almarai-Light.ttf);
}

body {
    font-family: 'Almarai Regular', sans-serif;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F8F9FA;
}

.card {
    height: 15em;
    background-color: #023F79;
    color: #FFB600; 
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    
}


.nav-link {
    color: #023F79;
}
.nav-link:hover {
    color: #FFB600; 
}

#post-header {
    color: #023F79;
    font-family: 'Almarai ExtraBold';
}

#post-body {
    color: #023F79;
    font-family: 'Almarai Light';
}
