{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang='ar' dir='rtl'>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    {% tailwind_css %}
  </head>
  <body>
  <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:divide-y lg:divide-gray-200 lg:px-8 text-center">

    <nav class="py-5" aria-label="Global">
      <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
      <a href="{% url 'core:list' %}" class="bg-gray-100 text-gray-900 rounded-md py-2 px-3 inline-flex items-center text-xl font-medium" aria-current="page">الرئيسية</a>

      <a href="{% url 'core:videos_list' %}" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 rounded-md py-2 px-3 inline-flex items-center text-xl font-medium">الفيديوهات</a>
    </nav>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <nav class="lg:hidden" aria-label="Global" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
      <a href="{% url 'core:list' %}" class="bg-gray-100 text-gray-900 block rounded-md py-2 px-3 text-base font-medium" aria-current="page">الرئيسة</a>

      <a href="{% url 'core:videos_list' %}" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 block rounded-md py-2 px-3 text-base font-medium">فيديوهات</a>
    </div>
  </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
