{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row g-3">
{% for post in posts %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title fs-1">
                    <a href="{{post.get_absolute_url}}" style="all:unset">{{post.title_arabic}}
                    </a>
                </div>
                <div class='tags text-light'>
                    <div>
                        العلامات:
                    {% for tag in post.tags.all %}
                    <a href="{% url 'core:post_list_by_tag' tag.slug %}">{{tag.name}}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </div>
                    
                </div>
                <p class="card-text">
                    بقلم: {{post.author.first_name}} 
                </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>




{% endblock content %}
    
  </body>
</html>
