
{% extends 'base.html' %}

{% block title %}
    {{ post.title_arabic }}
{% endblock title %}
    
{% block content %}
    <h1>{{ post.title_arabic }}</h1>
    <p>
        تم النشر يوم {{ post.publish.date }} بواسطة {{post.author}}
    </p>
    <p>
        {{ post.body | linebreaks }}
    </p>

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} تعليقات
        </h2>
    {% endwith %}
    
    {% for comment in comments %}
        <div class="comment">  
            <p class="info">
                التعليق {{ forloop.counter }} بواسطة {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>لايوجد تعليق</p>
    {% endfor %}



    <h2>أضف تعليق:</h2>
        <form action="{% url "core:post_comment" post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Add comment"></p>
    </form>

{% endblock content %}
    