
{% extends 'base.html' %}

{% block title %}
    {{ post.title_arabic }}
{% endblock title %}
    
{% block content %}
<div id='post-header'>
    <h1>{{ post.title_arabic }}</h1>
    <p>
        تم النشر يوم {{ post.publish.date }} بواسطة: {{post.author.first_name}}
    </p>
</div>
<div id='post-body' class='px-5'>
    <br>
    <h4>
        {{ post.body | linebreaks }}
    </h4>

    <br>
    <hr>
    <br>

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} تعليقات
        </h2>
    {% endwith %}
    
    {% for comment in comments %}
        <div class="comment">  
            <p class="info">
                التعليق {{ forloop.counter }} بواسطة {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>لايوجد تعليق</p>
    {% endfor %}

    <h2>بوستات مشابهه</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{post.get_absolute_url}}">{{post.title_arabic}}</a>
        </p>
        {% empty %}
        لا يوجد بوست مشابهه
    {% endfor %}

    <h2>أضف تعليق:</h2>
        <form action="{% url "core:post_comment" post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" class="btn btn-primary" value="أضف تعليقا"></p>
    </form>
</div>
    

{% endblock content %}
    